
.form-item-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-row {
    margin-bottom: 20px;
}

.form-item-row-label h3 {
    display: flex;
    flex-direction: left;
    margin-bottom: 2.5px;
    font-size: 1.2em;
    padding-left: 2.5px;
}

.form-item-row input {
    border: 0.9px;
    border-radius: 5px;
    padding: 5px;
}

.form-container {
    background-color: #F4F4F4;
    border-radius: 15px;
    border-color: #F4F4F4;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.data-confirmation-button {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.form-order-checkout {
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    background-color: #E5F0FF;
    border-color: #E5F0FF;
    color: #0052C9;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

